/* This CSS file is for sitewide theming. */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #21353b;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  margin-top: var(--header-height); /* Adjust based on your header height */
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: calc(100vh - var(--header-height)); /* Subtract header height from viewport height */
}


/* Button styles */
button {  /*Default button*/
  background-color: gray ;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
button:disabled {
  background-color: silver;
  color: darkgrey;
  cursor: not-allowed;
}

.primary-button { /*Primary Color Button*/
  background-color: rgba(105, 97, 102, 1);
  color: white;
}
.primary-button:hover:not(:disabled) {
  box-shadow: 0 0 8px rgba(105,97,102, 0.7);
  transition: 0.3s ease;
}

.info-button { /*Info Color Button*/
  background-color: rgba(33, 53, 59);
  color: white;
}
.info-button:hover:not(:disabled) {
  box-shadow: 0 0 8px rgba(33, 53, 59, 0.7); 
  transition: 0.3s ease;
}

.confirm-button { /*Confirm Color Button*/
  background-color: rgba(85, 152, 87);
  color: white;
}
.confirm-button:hover:not(:disabled){
  box-shadow: 0 0 8px rgba(85, 152, 87, 0.7);
  transition: 0.3s ease;
}

.caution-button { /*Caution Color Button*/
  background-color: rgba(210, 136, 31);
  color: white;
}
.caution-button:hover:not(:disabled) {
  box-shadow: 0 0 8px rgba(210, 136, 31, 0.7);
  transition: 0.3s ease;
}

.danger-button { /*Danger Color Button*/
  background-color: rgba(244, 67, 54);
  color: white;
}
.danger-button:hover:not(:disabled){
  box-shadow: 0 0 8px rgba(244, 67, 54, 0.7);
  transition: 0.3s ease;
}


.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}